{% extends "layout.html" %}
{% block content %}

	<div class = "text-center">

		<form method="POST" action="/Edit/{{ var[3] }}" class="form-horizontal">
			{{ form.csrf_token }}
			{{ form.hidden_tag() }}
			<fieldset >
				<div id="legend">
				<legend class="">Update Students Info</legend>
				</div>

				<div class="control-group">
					<label class="text-center">
					{{ form.fullName.label() }}
					{% if form.fullName.errors %}
						{{ form.fullName(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback"> </div>
							{% for error in form.fullName.errors %}
								<span> {{ error }}</span>
							{%  endfor %}
					{% else  %}
						<div class="text-center">
							{{ form.fullName(class="form-control form-control-lg", value= var[1] ) }}
						</div>
					{% endif %}
					</label>
				</div>


				<div class="control-group">
					<label class="text-center">
					{{ form.idNumber.label() }}
					{% if form.idNumber.errors %}
						{{ form.idNumber(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback"> </div>
							{% for error in form.idNumber.errors %}
								<span> {{ error }}</span>
							{%  endfor %}
					{% else  %}
						<div class="text-center">
							{{ form.idNumber(class="form-control form-control-lg", value = var[3]) }}
						</div>
					{% endif %}
					</label>
				</div>

				<div class="control-group">
					<label class="text-center">
					{{ form.gender.label() }}
					{% if form.gender.errors %}
						{{ form.gender(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback"> </div>
							{% for error in form.gender.errors %}
								<span> {{ error }}</span>
							{%  endfor %}
					{% else  %}
						<div class="text-center">
							{{ form.gender(class="form-control form-control-lg") }}
						</div>
					{% endif %}
					</label>
				</div>
				
				<div class="control-group">
					<label class="text-center">
					{{ form.Course.label() }}
					{% if form.Course.errors %}
						{{ form.Course(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback"> </div>
							{% for error in form.Course.errors %}
								<span> {{ error }}</span>
							{%  endfor %}
					{% else  %}
						<div class="text-center">
							{{ form.Course(class="form-control form-control-lg", value = var.Course) }}
						</div>
					{% endif %}
					</label>
				</div>

				<div class="control-group">
					<label class="text-center">
					{{ form.year.label() }}
					{% if form.year.errors %}
						{{ form.year(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback"> </div>
							{% for error in form.year.errors %}
								<span> {{ error }}</span>
							{%  endfor %}
					{% else  %}
						<div class="text-center">
							{{ form.year(class="form-control form-control-lg", value = var[2]) }}
						</div>
					{% endif %}
					</label>
				</div>
				<br>				
	</div>
			</fieldset>
			<div class="text-center">
				{{ form.edit(class="btn btn-info")}}
			</div>
		</form>		
	</div>

{% endblock content %}