{% extends "homeLayout.html" %}
{% block content %}
<br>
	<br>
		<br>
			<br>
				<br>
			<br>
		<br>
	<br>
<br>
<h1><center  style="color:white">Student Database</center></h1>
<div class= " text-center">
	<div class="btn btn-default">	
		<div class="text-center">
			<form action="Register">
				<br>
				<input class="btn btn-success" type="submit" value="  Add  ">
			</form>
		</div>
	</div>
	<div class="btn btn-default">	
		<div  class="text-center">
			<form action="Search">
				<br>
				<input class="btn btn-info" type="submit" value="Seach">
			</form>
		</div>
	</div>

{% endblock content %}

